:root{
    --Principal-Color: #4D4D4D;
    --Color-Buttons: #0E3133;
    --Color-Calculator: #127e73;
    --Color-Font: #000000;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-position: center;
    justify-content: center;
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-image: url(./img/gradient-wallpaper.png);
}
main{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 30px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.calculator-body{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 30px 0;
    border-radius: 20px;
    width: clamp(300px, 70%, 500px);
    border: 1px solid rgba( 0, 0, 0, .4);
    background-color: var(--Color-Calculator);
    box-shadow: 1px 10px 100px var(--Color-Buttons);
}
.board-calculator{
    position: relative;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid var(--Color-Font);
    background-color: var(--Color-Buttons);
    box-shadow: 4px 4px 8px var(--Color-Buttons);
}
.board{
    position: absolute;
    margin: 0 0 8px 8px;
    padding-top: 40px;
    width: 95%;
    text-align: start;
    font-size: 3.5rem;
    background-color: inherit;
    color: rgba(255, 255, 255, .6);
}
.keyboard-calculator{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    gap: 20px;
    margin-top: 20px;
}
.number-keyboard{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    gap: 10px;
}
.operators-keyboard{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.key-number, .key-operator{
    width: 50px;
    height: auto;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--Color-Font);
    box-shadow: 4px 4px 8px var(--Color-Buttons);
    background: linear-gradient(223deg, #3b7f78, #57b4a9);
}
.key-number:hover, .key-operator:hover, .result:hover{
    background: #15585c;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    filter: brightness(.7px);
}
.result-calculator{
    width: 80%;
}
.result{
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 3.0rem;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--Color-Font);
    box-shadow: 4px 4px 8px var(--Color-Buttons);
    background: linear-gradient(223deg, #3b7f78, #57b4a9);
}
.reset{
    justify-content: center;
    display: flex;
    width: clamp(300px, 70%, 500px);
    height: 80px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #156064;
    border: 1px solid rgba( 0, 0, 0, .4);
    box-shadow: 1px 10px 100px var(--Color-Buttons);
}
.reset button{
    width: 90%;
    border: none;
    font-size: 3.0rem;
    font-weight: bold;
    font-family: inherit;
    background-color: inherit;
    color: rgba(255, 255, 255, .6);
    font-family: 'Poppins', sans-serif;
}
.reset:hover, .reset button:hover{
    transition: all .5s ease-in-out;
    background-color: #127e73;
    padding-bottom: 3px;
    color: rgba( 0, 0, 0, .6);
    cursor: pointer;
}
/* RESPONSIVE */
@media (max-width: 550px){
    .board{
        font-size: 3.0rem;
        padding-top: 50px;
    }
}
@media (min-width: 550px){
    .key-number, .key-operator{
        width: 60px;
    }
}
@media (min-width: 600px){
    .key-number, .key-operator{
        width: 70px;
    }
}
@media (min-width: 700px){
    .key-number, .key-operator{
        width: 80px;
    }
}
@media (min-width: 800px){
    .board{
        height: 90px;
    }
    .key-number, .key-operator{
        width: 90px;
    }
}
/* RESPONSIVE */